:root{
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}
ul{
  margin: 0;
  padding-left: 0;
}
img{
  display: block;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*========servises=====*/
.link{
  text-decoration: none;
  font-family: inherit  
}
.list{
list-style: none;
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;     
}
.btn {
    width: 200px;
    height: 50px;
    p
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
}
.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-color);
}
.logo:hover,
.logo:focus{
  font-family: "Raleway", sans-serif
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-color);
  /* text-decoration: underline; */
}
.footer-link{
  line-height: 1.71;  /* or 171% */
}
.btn-filtr {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62; /* identical to box height, or 162% */
  text-align: center;
  color: #212121;
  cursor: pointer;
}
/*========prodact=====*/
/*========header=====*/
.header{
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container{
display: flex;
align-items: center;
}
.header-navigation{
display: flex;
align-items: center;
}
.header-list{
  display: flex;
  /* align-items: center; */
}
.header-kontacts-flex{
  display: flex;
  margin-left: auto;
  align-items: center;
}
.logo-flex{
  display: block;
  display: flex;
  margin-right: 93px;
}
.logo-header-studio{
color:var(--secondary-text-color)
}
.header-link{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-title-color)
}
.header-link:hover,
.header-link:focus,
.current{
color: var(--accent-color)
}
.header-item:not(:last-child){
  margin-right: 50px;
}

.header-kontacts{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
/* color: var(--primary-text-color); */
}
.header-kontacts:hover,
.header-kontacts:focus{
color: var(--accent-color);
}

.header-kontacts-link{
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color)
}
.header-kontacts-link:hover,
.header-kontacts-link:focus{
color: var(--accent-color)
}
.header-kontacts-item:not(:last-child){
  margin-right: 50px;
}

/*========hero=====*/

.hero{
  background: #2F303A;
  padding-top: 200px;
  padding-bottom: 280px;
}
.hero-container{
display: flex;
flex-direction: column;
align-items: center;
}
.hero-title{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  width: 696px;
  margin-bottom: 30px;
}
.hero-btn {
    color: var(--third-text-color);
    background-color: var(--accent-color);

}
.hero-btn:hover {
    color: var(--third-text-color);
    background: #188CE8;
}
/*========= ПОЧЕМУ МЫ ===========*/
.whyus{
  padding-top: 94px;
  padding-bottom: 94px;
}
.whyus-container{
display: flex;
}
.ourteam-list,
.whyus-list,
.wedoing-list{
  display: flex;
  margin-right: -30px;

}
.whyus-item{
  width: 270px;
  margin-right: 30px;
}
.whyus-item-header{
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}
.whyus-item-text{
  line-height: 1.71;   /* or 171% */
  /* color: var(--primary-text-color); */
}
/*======== Чем мы занимаемся ==========*/
.wedoing{
  padding-top: 0px;
  padding-bottom: 94px;
}
.ourteam-title,
.wedoing-title{
font-weight: 700;
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
color: var(--secondary-title-color);
margin-bottom: 50px;
}
.ourteam-item,
.wedoing-item{
  margin-right: 30px;
}
/*======== НАША КОМАНДА ==========*/
.ourteam{
  padding-top: 94px;
  padding-bottom: 94px;
}

.ourteam-item-title{
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--secondary-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.ourteam-item-text{
font-size: 16px;
line-height: calc(19 / 16);
text-align: center;
margin-bottom: 30px;
/* color: var(--primary-text-color); */
}
/*======== ФУТЕР ==========*/
.footer{
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-contact{
  font-style: inherit;
}
.address{
color: var(--third-text-color);
}
.footer-contact{
  margin-top: 20px;
}
.address:hover,
.address:focus{
color: var(--accent-color);
}
.contact{
  color: rgba(255, 255, 255, 0.6);
}
.contact:hover,
.contact:focus{
  color: var(--accent-color);
}
.logo-footer-studio{
  color:var(--primary-title-color)
}
.footer-item,
.footer-link:not(:last-child){
margin-bottom: 9px;

}
/*======== ФИЛЬТР ==========*/
.portofolio-hero{
  padding-top: 94px;
  padding-bottom: 94px;
}
.filtr-list{
display: flex;
}



.filtr-btn:hover,
.filtr-btn:focus,
.current-btn{
    color: var(--third-text-color);
    background-color: var(--accent-color);
}
.filtr-btn {
    color: var(--secondary-text-color);
    background: var(--third-text-color);
}
/*======== ПОРТОФОЛИО ==========*/
.portofolio-item-title{
font-weight: 700;
font-size: 18px;
line-height: 2.00;/* identical to box height, or 200% */
letter-spacing: 0.06em;
color: var(--secondary-title-color);
}

.portofolio-item-text{
font-size: 16px;
line-height: 1.87; /* identical to box height, or 187% */
color: var(--primary-text-color);
}